@keyframes bounceFadeIn {
  0% {
    opacity: 0.2;
    transform: translateY(-100px) rotateZ(30deg);
  }
  10% {
    opacity: 0.2;
    transform: translateY(100px) rotateZ(30deg);
  }
  20% {
    opacity: 1;
    transform: translateY(-90px) rotateZ(30deg);
  }
  30% {
    opacity: 1;
    transform: translateY(80px) rotateZ(30deg);
  }
  40% {
    opacity: 1;
    transform: translateY(-70px) rotateZ(30deg);
  }
  50% {
    opacity: 1;
    transform: translateY(60px) rotateZ(30deg);
  }
  60% {
    opacity: 1;
    transform: translateY(-50px) rotateZ(30deg);
  }
  70% {
    opacity: 1;
    transform: translateY(40px) rotateZ(30deg);
  }
  80% {
    opacity: 1;
    transform: translateY(-30px) rotateZ(30deg);
  }
  90% {
    opacity: 1;
    transform: translateY(20px) rotateZ(30deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) rotateZ(30deg);
  }
}

.logo-container {
  position: absolute;
  margin-top: 125px; 
  left: 65%;
  transform: translateX(-50%);
  width: 400px;
  height: 400px;
  z-index: 1;

  .solid-logo {
    width: 100%;
    opacity: 0;
    animation: bounceFadeIn 5s ease-out forwards;
  }
}
